name: Test Runner

on:
  push:
    branches:
      - main

jobs:
  test-runner:
    runs-on:
      - self-hosted
      - linux
      - x64
    steps:
      - run: |
          echo "Runner OK"
          hostname
          whoami
          uname -a
